<!DOCTYPE html>
<html>
	<head>
		<title>TestAppJahia</title>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<!-- include dependency modules -->
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/elasticsearch-browser/elasticsearch.angular.min.js"></script>
		<!-- include App Module -->
		<script type="text/javascript" src="scripts/app.js"></script>
	</head>
	<body ng-app="MyApp">
		<div ng-controller="myServerHealthController" class="container">
			<h1>Test for Marketing Factory Newcomers</h1>
			
			<!-- if there is an error, display its message -->
			<div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}
			</div>

			<!-- if clusterState is available, display it as formatted json -->
			<div ng-if="clusterState" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Cluster State</h3>
				</div>
				<div class="panel-body">
					<pre>{{clusterState | json}}</pre>
				</div>
			</div>
		</div>
		
		<div ng-controller="myActionController" class="container">
			<div>
				{{actionResult}}
			</div>
			<label>New Event:</label><br>
			<button ng-click="addEvent()" type="button" class="btn btn-primary">AddEvent</button>
			<hr>
			<label>Search Criteria:</label>
			<input type="text" ng-model="aSearchString" placeholder="Enter search criteria here">
			<br>
			<button ng-click="searchEvent()" type="button" class="btn btn-primary">SearchEvent</button>
			<div ng-if="hits.length <= 0" class="panel panel-default">
				<p>0 results found matching the search criteria.</p>
			</div>
			<div ng-if="hits.length > 0" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Found</h3>
				</div>
				<div class="panel-body">
					<table>
						<tr ng-repeat="item in hits">
							<td>{{item['_source']['date']}}</td>
							<td>{{item['_source']['agent']}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>		
	</body>
</html>